nav {
    background-color: white;
  }
  
  nav a {
    color: black;
  }
  
  nav a:hover {
    transform: scale(1.2);
    color: #1d3fd6;
  }
  
  nav i {
    margin: 10px;
  }
  
  nav i:hover {
    transform: scale(1.2);
    color: #1d3fd6;
  }